:root{
    --primary: #10172aff;
    --hover: rgb(31, 31, 33);
    --button: #3b81f6ff;
    --crosschain: #1a2c52ff;
    --hover2: #403352ff;
    --hover3: #d0d7e3;
    --hover4: #273143ff;
    --currenybox: #1e293bff;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    max-height: 100vh;
    background: var(--primary);
    
}


.mb{
    max-width: 450px;
    height: 100vh;
    max-height: 100vh;
    margin: auto;
    background: var(--primary);
    
}

.mb .navbar {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100vw;
    padding: 0 1rem;
    max-width: 450px;
    background: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(48, 46, 46);
    z-index: 1;
    
}

.mb .navbar .logoex img, .desktop_nav .logo_items img{
    width: 1.5rem;
    height: 1.5rem;
    
}

.mb .navbar .logoex {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.mb .navbar .logoex .explore{
    display: flex;
    color: white;
    align-items: center;
    font-size: 0.8rem;
    padding: 0.2rem 0.3rem;
    
}

.mb .navbar .logoex .explore:hover{
    
    background: var(--currenybox);
    border-radius: 5px;
    
}

.mb .navbar .connect, .desktop_nav .dconnect{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
}

.mb .navbar .connect a{
    padding: 0.5rem 0.8rem;
    background: var(--currenybox);
    border-radius: 10px;
    opacity: 0.9;
}

.mb .navbar .connect img, .desktop_nav .dconnect img{
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    position: relative;

}

.mb .navbar .connect .ethlogo {
    width: 2.5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--currenybox);
    border-radius: 10px;
    opacity: 0.9;

}



a{
    text-decoration: none;
    color: white;
}


/*middle-trade*/

.mb .trade {
    position: relative;
    width: 95%;
    margin: auto;
    height: 120px;
    top: 80px;
    
}

.mb .trade h2{
    margin-bottom: 5px;
    color: white;
}

.mb .trade p {
    color: var(--button);
    font-size: 0.9rem;
    margin-bottom: 30px;
}

.mb .trade p span{
    margin-left: 5px;
}

.mb .trade .swap_set {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
    
}

.mb .trade .swap_set p{
    font-size: 0.8rem;
    padding: 0.5rem 0.6rem;
    background: var(--currenybox);
    color: white;
    border-radius: 12px;
    margin-bottom: 5px;
    opacity: 0.5;
    cursor: pointer;
}

.mb .trade .swap_set i{
    font-size: 1.1rem;
    padding: 0.6rem 0.6rem;
    border-radius: 50%;
    background: var(--currenybox);
    color: white;
    opacity: 0.5;
    cursor: pointer;
}

/*cross chain section*/


.mb .cross_chain {
    position: relative;
    width: 95%;
    margin: auto;
    height: 170px;
    padding: 10px 20px;
    top: 90px;
    border-radius: 15px;
    background: linear-gradient(to top right, var(--crosschain)2%, rgb(82, 55, 82));
    border: 1px solid rgb(77, 75, 75);
}

.mb .cross_chain .fa-xmark{
    position: relative;
    float: right;
    padding: 0.3rem 0.4rem;
    background: var(--hover2);
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.mb .cross_chain h4{
    color: var(--button);
    margin-top: 20px;
    margin-bottom: 10px;
}

.mb .cross_chain h4 span{
    margin-left: 10px;
    background: linear-gradient(to right, var(--button), #8d65ffff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;   
}

.cross_chain .fa-duotone{
    font-size: 2.2rem;
    color: var(--hover3);
    opacity: 0.9;
    margin-top: 20px;
    cursor: pointer;
}


.mb .cross_chain p{
    color: grey;
    font-size: 0.8rem;
    margin-bottom: 10px;
    line-height: 20px;
}

.mb .cross_chain p a{
    color: var(--button)
}


/*input currency*/

.input_currency {
    position: relative;
    width: 95%;
    margin: auto;
    height: 95px;
    padding: 15px 10px;
    top: 110px;
    border-radius: 15px;
    background: var(--currenybox);

}


.input_currency .swap_container{
    display: flex;
    justify-content: space-between;
}

.input_currency .swap_container .no_spin{
    width: 15rem;
    height: 2.5rem;
    appearance: textfield;
    border-style: none;
    font-size: 2.1rem;
    color: grey;
    background: inherit;

}

.input_currency .swap_container .no_spin:focus{
    outline: none;
}

.no_spin::-webkit-outer-spin-button, .no_spin::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.input_currency .swap_container .coin{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 5px;
    background: var(--hover4);
    border-radius: 15px;
    cursor: pointer;
}

.input_currency .swap_container .coin img{
    width: 1.5rem;
    height: 1.5rem;
}

.input_currency .swap_container .coin h3{
    color: white;
    font-weight: lighter;
}

.mb .input_currency .dolla_balance{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    font-size: 1.1rem;
    color: grey;
}

.mb .input_currency .dolla_balance .wllet{
    display: flex;
    gap: 5px;
    cursor: pointer;
}


.mb .interchange {
    position: relative;
    top: 125px;
    width: 35px;
    height: 35px;
    margin: auto;
    border: 1px solid rgb(63, 61, 61);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mb .interchange i{
    color: var(--button);
}

/*output currency*/


.output_currency {
    position: relative;
    width: 95%;
    margin: auto;
    height: 95px;
    padding: 15px 10px;
    top: 138px;
    border-radius: 15px;
    background: var(--currenybox);

}


.output_currency .swap_container{
    display: flex;
    justify-content: space-between;
}

.output_currency .swap_container .no_spin{
    width: 12rem;
    height: 2.5rem;
    appearance: text;
    border-style: none;
    font-size: 2.1rem;
    color: grey;
    background: inherit;

}

.output_currency .swap_container .no_spin:focus{
    outline: none;
}


.output_currency .swap_container .coin{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 5px;
    background: var(--hover4);
    border-radius: 15px;
    cursor: pointer;
}

.output_currency .swap_container .coin img{
    width: 1.5rem;
    height: 1.5rem;
}

.output_currency .swap_container .coin h3{
    color: white;
    font-weight: lighter;
}

.mb .output_currency .dolla_balance{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    font-size: 1.1rem;
    color: grey;
}

.mb .output_currency .dolla_balance .wllet{
    display: flex;
    gap: 5px;
}


/*swap button*/


.mb .btn {
    position: relative;
    top: 150px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding: 15px 10px;
    border-radius: 10px;
    background: var(--button);
    color: white;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;

}

.mb .btn button{
    background: var(--button);
    border: none;
    color: white;
    cursor: pointer;
}


/*when wallet is connected and input made*/
.mb .swap_details{
    position: relative;
    top: 170px;
    width: 95%;
    height: 90px;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: none;
}

.mb .swap_details .detail{
    display: flex;
    justify-content: space-between;
    color: grey;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.mb .swap_details .line{
    height: 1px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 8px;
    background: var(--currenybox);
}

.mb .swap_details .detail p a{
    color: var(--button);
}

/*.mb .empty{
    position: relative;
    height: 10px;
    top: 190px;
}

/* explor menus items */


.mb .navbar .logoex .explore .explore_menu_items{
    position: absolute;
    width: 50%;
    height: 95vh;
    opacity: 0.9;
    top: 50px;
    list-style: none;
    background: var(--currenybox);
    border-radius: 15px;
    padding: 15px;
    overflow-y: scroll;
    display: none;

}
/*removing scroll bars chrome, safari and opera*/
.explore_menu_items::-webkit-scrollbar{
    display: none;
}
/*for IE, Edge and Firefox*/
.explore_menu_items{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.mb .navbar .logoex .explore .open{
    display: block;
}

.mb .navbar .logoex .explore .explore_menu_items .item{
    padding: 10px;
    border-radius: 5px;
}

.mb .navbar .logoex .explore .explore_menu_items .item:hover{
    background: var(--hover4);
}

.mb .navbar .logoex .explore .explore_menu_items .item h4{
    margin-bottom: 5px;
    opacity: 0.8;
}

.mb .navbar .logoex .explore .explore_menu_items .item p{
    line-height: 1.2rem;
    opacity: 0.6;
}

/*chain menu items*/

.mb .navbar .connect .ethlogo .chain_menu_items{
    position: absolute;
    max-width: 60%;
    right: 10px;
    min-height: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    top: 50px;
    background: var(--currenybox);
    border-radius: 15px;
    display: none;
}

.mb .navbar .connect .ethlogo .show_chains{
    display: block;
}

.mb .navbar .ethlogo .chain_menu_items .chain_search, .mb .navbar .ethlogo .chain_menu_items .ccc{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    
}




.mb .navbar .ethlogo .chain_menu_items .chain_search{
    border-bottom: 1px solid rgb(63, 61, 61);
    padding: 10px;
    margin: 10px;
}



.mb .navbar .ethlogo .chain_menu_items .chain_search #search{
    border-style: none;
    background: inherit;
    appearance: text;
    color: whitesmoke;
    font-size: 1.05rem;
}
.mb .navbar .ethlogo .chain_menu_items .chain_search #search:focus{
    outline: none;
}

.mb .navbar .ethlogo .chain_menu_items .chain p{
    font-size: 0.95rem;
}

.mb .navbar .ethlogo .chain_menu_items .chain{
    padding: 10px;
}

.mb .navbar .ethlogo .chain_menu_items .chain:hover{
    background: var(--hover4);
    border-radius: 10px;
    width: 95%;
}


.mb .navbar .ethlogo .chain_menu_items .chain img{
    width: 1.2rem;
    height: 1.2rem;
}


/*wallet connect*/

.mb .navbar .connect .wallet_connect{
    position: absolute;
    top: 50px;
    width: 45%;
    right: 10px;
    min-height: 0;
    list-style: none;
    background: var(--currenybox);
    opacity: 0.9;
    border-radius: 15px;
    display: none;

}

.mb .navbar .connect .show_wallet_connect{
    display: block;
}



.mb .navbar .connect .wallet_connect .provider{
    padding: 10px;
    margin: 5px;
}

.mb .navbar .connect .wallet_connect .provider:hover{
    background: var(--hover4);
    border-radius: 10px;
}

.mb .navbar .connect .wallet_connect .provider .ppp{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
}

/*desktop nav*/


.desktop_nav{
    position: fixed;
    top: 0;
    height: 55px;
    width: 100%;
    padding: 0 1rem;
    max-width: 100vw;
    background: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(48, 46, 46);
    z-index: 1;
}

.desktop_nav .dconnect a{
    padding: 0.6rem 0.8rem;
    background: var(--currenybox);
    border-radius: 10px;
    opacity: 0.9;
    font-size: 1.05rem;
}

.desktop_nav .dconnect .dethlogo {
    width: 8rem;
    height: 2.4rem;
    display: flex;
    
    justify-content: center;
    align-items: center;
    background: var(--currenybox);
    border-radius: 10px;
    opacity: 0.9;
    font-size: 1.05rem;

}

.desktop_nav .dconnect .dethlogo #dd{
    display: flex;
    gap: 5px;
}

.desktop_nav .logo_items {
    display: flex;
    align-items: center;
    cursor: pointer;
    list-style: none;
    color: white;
    font-size: 0.9rem;
}

.desktop_nav .logo_items img{
    margin-right: 25px;
}

.desktop_nav .logo_items .d_item{
    padding: 10px;
}

.desktop_nav .logo_items .d_item:hover{
    background: var(--hover4);
    border-radius: 10px;
}


/*chains*/
.desktop_nav .dconnect .dethlogo .dchain_menu{
    position: absolute;
    max-width: 60%;
    right: 5%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    top: 50px;
    background: var(--currenybox);
    border-radius: 15px;
    display: none;
}

.desktop_nav .dconnect .dethlogo .show_dchain_menu{
    display: block;
}


.desktop_nav .dconnect .dethlogo .dchain_menu .dchain_search, .desktop_nav .dconnect .dethlogo .dchain_menu .dchain .dccc{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}


.desktop_nav .dconnect .dethlogo .dchain_menu .dchain_search{
    border-bottom: 1px solid rgb(63, 61, 61);
    padding: 10px;
    margin: 10px;
}

.desktop_nav .dconnect .dethlogo .dchain_menu .dchain_search #dsearch{
    border-style: none;
    background: inherit;
    appearance: text;
    color: whitesmoke;
    font-size: 1.05rem;
}

.desktop_nav .dconnect .dethlogo .dchain_menu .dchain_search #dsearch:focus{
    outline: none;
}


.desktop_nav .dconnect .dethlogo .dchain_menu .dchain{
    padding: 10px;
    font-size: 1.01rem;
}

.desktop_nav .dconnect .dethlogo .dchain_menu .dchain:hover{
    background: var(--hover4);
    border-radius: 10px;
    width: 95%;
}

/*wallet connect providers*/

.desktop_nav .dconnect .dwallet_connect{
    position: absolute;
    top: 50px;
    width: 15rem;
    right: 10px;
    min-height: 0;
    list-style: none;
    background: var(--currenybox);
    opacity: 0.9;
    border-radius: 15px;
    display: none;
}


.desktop_nav .dconnect .show_dwallet_connect{
    display: block;
}

.desktop_nav .dconnect .dwallet_connect .dprovider{
    padding: 10px;
    margin: 5px;
}

.desktop_nav .dconnect .dwallet_connect .dprovider:hover{
    background: var(--hover4);
    border-radius: 10px;
    
}

.desktop_nav .dconnect .dwallet_connect .dprovider .dppp{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
}


@media (min-width: 759px) {
    .mb .navbar {
        display: none;
    }

    .mb .trade h2{
        font-size: 2rem;
    }
}

@media (max-width: 760px){
    .desktop_nav{
        display: none; 
    }

    
}
